html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
    justify-content: space-between;
}

#main {
    border-radius: 50%;
    height: 95vw;
    width: 95vw;
    align-self: center;
    background-color: red;
    margin: 5%;
    outline: none;
    border: none;
    color: white;
    font-size: 30vw;
}


#control {
    border-radius: 50%;
    height: 70vw;
    width: 70vw;
    align-self: center;
    background-color: black;
    outline: none;
    border: none;
    color: white;
    font-size: 40vw;
}

.material-icons-round {
    font-size: inherit !important;
}

#change_time {
    position:fixed;
    left:1vw;
    bottom:1vw;
    font-size: 6vh;
    height: 15vw;
    padding: 0;
    width: 15vw;
    text-align: center;
    line-height: 50%;
}

#change_color {
    position:fixed;
    right:1vw;
    bottom:1vw;
    font-size: 6vh;
    height: 15vw;
    padding: 0;
    width: 15vw;
    text-align: center;
    line-height: 50%;
}

.red {
    background-color: red !important;
    padding: 5% !important;
}

.blue {
    background-color: lightskyblue !important;
    padding: 5% !important;
}

.green {
    background-color: green !important;
    padding: 5% !important;
}

.yellow {
    background-color: gold !important;
    padding: 5% !important;
}

.pink {
    background-color: pink !important;
    padding: 5% !important;
}

.white {
    background-color: white !important;
    padding: 5% !important;
}

.orange {
    background-color: orange !important;
    padding: 5% !important;
}

.purple {
    background-color: purple !important;
    padding: 5% !important;
}